/* CSS declarations go here */
.rating {
	unicode-bidi: bidi-overrride;
	direction: rtl;
}

.rating > span:hover:before,
.rating > span:hover ~ span:before {
	content: "\2605";
	position: absolute;
	color: gold;
}

.img-rounded {
	width: 300px;
	height: 200px;
}