/* CSS declarations go here */

.pincho {
	cursor: pointer;
	padding: 5px;
}

.pincho .chef {
	display: inline-block;
	width: 300px;
	fotn-size: 1.75em;
}

.pincho .score {
	display: inline-block;
	widht: 100px;
	text-align: right;
	font-size: 2em;
	font-weight: bold;
	color: #777;
}

/* Star rating system styling
 * http://css-tricks.com/star-ratings/
 */
.rating {
	unicode-bidi: bidi-overrride;
	direction: rtl;
}

.rating > span:hover:before,
.rating > span:hover ~ span:before {
	content: "\2605";
	position: absolute;
	color: gold;
}

/* Imágenes */

/* Imágenes del ranking */
.img-rounded {
	max-width: 300px;
}